<div class="reports-main-container">
	<div class="reports-header">
		<div class ="reports-hcontent">
			<h3 class="text-muted"> Stats for Expenses </h3>
			<input class="reports-datepicker">
			<select class="category-type" style="margin-left: 50px" id="category-type">
              <option value="Food">Food</option>
              <option value="Transport">Transport</option>
              <option value="Rent">Rent</option>
              <option value="Shopping">Shopping</option>
              <option value="others">Others</option>
            </select>
            <button class="renderData btn btn-primary" style="margin-left:50px"> Render chart </button>
		</div>	
	</div>
</div>		